.post-panel {
  width: 100%;
}

.post-panel__post {
  display: flex;
  flex-direction: column;

  margin: 53px 82px 0 82px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 136.2%;
  /* or 33px */
  color: #F2F2F2;
}

.post-panel__comments {
  margin: 0 82px;
}

.post-panel__buttons {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: underline;

  margin: 42px 82px 32px 82px;

  color: #60CD6C;

  cursor: pointer;
}

.post-panel__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-panel__title {
  font-weight: 700;
}

.post-panel__body {
  margin-top: 20px;
}