.add-button {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  background: #FFFFFF;
  text-align: center;
  cursor: pointer;

  span {
    font-size: 24px;
    position: relative;
    bottom: 2px;
    font-weight: lighter;
  }
}
