.comment-card {
  background: #221F20;
  border-radius: 10px;
  padding: 16px 24px;
}

.comment-card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.comment-card__title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 136.2%;
  /* or 19px */
  color: #F2F2F2;
}

.comment-card__mail {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 136.2%;
  /* identical to box height, or 19px */
  color: #60CD6C;
}

.comment-card__body {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 136.2%;
  /* or 19px */
  color: #F2F2F2;
}